.slick-prev:before {
    color: royalblue;
    font-size: 30px;
}

.slick-next:before {
    color: royalblue;
    font-size: 30px;
}
.add-rating-icons-container i {
    font-size: 30px;
    color: #9f9f9f;
    cursor: pointer;
    margin: 10px 6px;
}
.add-rating-icons-container i:hover {
    color: #ffb01d !important;
}
