.auth_container {
    width: 36%;
}
@media only screen and (max-width: 1000px) {
    .auth_container {
        width: 60%;
    }
}
@media only screen and (max-width: 678px) {
    .auth_container {
        width: 80%;
    }
}
.tab-btn {
    cursor: pointer;
    border-bottom: solid 3px transparent;
    font-weight: 500;
    font-size: 1.1rem;
}
.tab-btn:hover {
    border-bottom: solid 3px rgb(186, 121, 247);
}
.tab-btn.active {
    border-bottom: solid 3px blueviolet;
}
.auth-btn {
    font-weight: 500;
}
.auth-btn:hover {
    background-color: blueviolet;
    color: #eee;
}
