.mobileViewSidebar-container {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 80vw;
    z-index: 1000;
    background-color: royalblue;
    transition: margin 0.2s;
}
.mobileViewSidebar-container.show {
    margin-left: 0;
}
.mobileViewSidebar-container.hide {
    margin-left: -80vw;
}
.mobileViewSidebar-logo {
    font-weight: 400;
    color: #ddd;
}
.mobileViewSidebar-arrow-left {
    position: absolute;
    right: 10px;
    top: 4px;
    padding: 6px;
    border-radius: 50%;
    color: #ddd;
}
.mobileViewSidebar-arrow-left:active {
    background-color: rgb(41, 77, 185);
    color: #ddd;
}
.mobileViewSidebar-button {
    font-size: 1rem;
    padding: 10px;
    margin: 0 10px;
    color: #ddd;
    text-decoration: none;
    font-weight: 500;
}
.mobileViewSidebar-button:hover {
    color: #eee;
    background-color: rgb(51, 89, 201);
}
.mobileViewSidebar-button.active {
    color: #eee;
    background-color: rgb(41, 77, 185);
}
@media only screen and (min-width: 768px) {
    .mobileViewSidebar-container {
        display: none;
    }
}
