.navbar_logged_in_link_icons {
    color: #eee;
    padding: 5px 10px;
    border-radius: 4px;
}
.navbar_logged_in_link_icons:hover {
    color: #eee;
    background-color: rgb(51, 89, 201);
}

.navbar_logged_in_link_icons.active {
    background-color: rgb(41, 77, 185);
}
